* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--sans-serif: "Funnel Sans", serif;
	--serif: "Roboto Serif", sans-serif;

	--dark: rgb(70, 42, 15);
	--light: #fff5e6;

	--shadow: rgba(70, 42, 15, 0.527);
	--border-radius: 20px;
	--small-border-radius: 10px;

	--standard-padding: 2rem;

	color-scheme: light;
	color: var(--dark);
	background-color: var(--light);

	font-size: 20px;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img {
	max-width: 600px;
	width: 100%;
}

h1 {
	font-family: var(--sans-serif);
	font-weight: 1000;
}

h2 {
	font-family: var(--sans-serif);
	font-weight: 500;
}

h3 {
	font-family: var(--serif);
	font-style: italic;
	font-weight: 500;
}

p {
	font-family: var(--serif);
}

a {
	text-decoration: none;
	color: var(--dark);
}

a:active {
	color: rgb(95, 64, 7);
}

li {
	font-family: var(--sans-serif);
	list-style: none;
}

button {
	border: none;
	background-color: var(--dark);
	color: var(--light);
	font-size: 1rem;
	padding: 0.25rem;
	margin: 0.5rem 0;
	border-radius: var(--small-border-radius);
}

button:hover {
	transition: 0.2s;
	color: var(--dark);
	background-color: var(--light);
	box-shadow: 0px 0px 10px var(--shadow);
}

label {
	font-family: sans-serif;
	margin: 0.5rem 0.25rem 0.5rem 0;
}

br {
	margin-bottom: 0.5rem;
}